<div>
    <div>
        <h1>{{title}}</h1>
    </div>

    <div>
        {% if errors %}
        <div style="background: orange;">
            {{errors}}
        </div>
        {% endif %}
        <form action="details" id="new-item-form2" method="POST">
            <input type="text" name="label" placeholder="new item">
            {{ csrf_input }}
            <p>
                <button data-target="new-item-form2" data-targettype="form" data-onupdate="todos2">Submit</button>
            </p>
        </form>
    </div>
</div>