<html>

<head>

</head>

<body>
    <h1>Load and compute items</h1>
    <div style="background-color: gold;">
        <loader id="items" src="/"></loader>
    </div>
    <div style="background-color: red;">
        <loader id="todos" src="/todos"></loader>
    </div>

    <div style="background-color: blue;">
        <loader id="services" src="/todos"></loader>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://mozilla.github.io/nunjucks/files/nunjucks.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/redux/4.0.5/redux.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script>
    class Loader {
        constructor() {
            let self = this
            this.loaders = document.querySelectorAll("loader")
            if (this.loaders) {
                self.createStore()
                this.loaders.forEach(element => {
                    let src = element.getAttribute("src")
                    let id = element.getAttribute("id")
                    this.getData(id, src).then(function (output) {
                        if (output) {
                            self.updateUI(id, element)
                        }
                    })
                })
            }
        }

        updateUI(id, element) {
            self = this
            let src = element.getAttribute("src")
            let data = self.store.getState()
            console.log("Data", self.store.getState())
            let output = self.parseTemplate(src, data).then((output) => {
                element.innerHTML = output
                self.setElementEventsListers(element)
            })
        }

        getData(id, src) {
            let self = this
            return axios.get(src).then(function (response) {
                let data = response.data
                let payload = {}
                return self.store.dispatch({
                    type: 'ADD_DATA',
                    data: data
                })
            })
        }

        createStore() {
            function dataManager(state = [], action) {
                switch (action.type) {
                    case 'ADD_DATA':
                        console.log("Add data")
                        state = action.data
                        return state
                    case 'REMOVE_DATA':
                        return state
                    default:
                        return state
                }
            }

            function handleDataChange() {
                function select(state) {
                    return state.some.deep.property
                }
            }

            this.store = Redux.createStore(dataManager)
            this.store.subscribe(handleDataChange)
        }

        parseTemplate(src, data) {
            return axios.get(src + "?format=template").then(function (response) {
                let template = response.data
                nunjucks.configure({
                    autoescape: true
                });
                let result = nunjucks.renderString(template, data);
                return result
            });
        }

        setElementEventsListers(parent) {
            let self = this
            let buttons = parent.querySelectorAll("button")
            buttons.forEach((button) => {
                button.addEventListener('click', (ev) => {
                    console.log("State", self.store.getState())
                    ev.preventDefault()
                    ev.stopPropagation()
                    let target = button.dataset.target
                    let targettype = button.dataset.targettype
                    let onupdate = button.dataset.onupdate
                    // 1. Get the form and submit it using ajax
                    // 2. Obtain response, update data if onupdate is defined

                    let targetObj = document.getElementById(target)
                    let elementToLoad = document.getElementById(onupdate)
                    if (targettype !== "undefined") {
                        if (targettype === "form") {
                            const data = new FormData(targetObj)
                            const form = Array.from(data.entries())
                            let form_data = form.map((item) => {
                                let item_dict = {}
                                item_dict[item[0]] = item[1]
                                return item_dict
                            })
                            console.log(JSON.stringify(form_data))

                            const csrftoken = Cookies.get('csrftoken');
                            let headers = {
                                'X-CSRFToken': csrftoken
                            }

                            axios.post("/", form_data[0], {
                                headers: headers
                            }).then((resp) => {
                                let src = elementToLoad.getAttribute("src")
                                this.getData(onupdate, src).then(function (output) {
                                    if (output) {
                                        self.updateUI(onupdate, elementToLoad)
                                    }
                                })
                            })

                            // let current_data = self.store.getState()[onupdate]
                            // console.log("current_data", current_data)
                            // current_data[onupdate].unshift({name: "cxxxx"})
                            // let new_data = {}
                            // new_data[onupdate] = form_data
                            // self.store.dispatch({
                            //     type: 'ADD_DATA',
                            //     data: new_data
                            // })
                            // self.updateUI(onupdate, itemsToLoad)
                        }
                    }
                });
            })
        }
    }

    let loader = new Loader()
</script>

</html>